/* COMMON CSS */
:root {
  --neutral-white: #fff;
  --neutral-silver: #f5f7fa;
  --neutral-grey-blue: #abbed1;
  --neutral-l-grey: #89939e;
  --neutral-grey: #717171;
  --neutral-d-grey: #4d4d4d;
  --neutral-black: #263238;
  --neutral-white-stroke: #abbed1;
  --brand-info: #2194f3;
  --brand-secondary: #263238;
  --brand-primary: #4caf4f;
  --shade-s1: #43a046;
  --shade-s2: #388e3b;
  --shade-s3: #237d31;
  --shade-s4: #1b5e1f;
  --shade-s5: #103e13;
  --tint-t1: #66bb69;
  --tint-t2: #81c784;
  --tint-t3: #a5d6a7;
  --tint-t4: #c8e6c9;
  --tint-t5: #e8f5e9;
  --action-success: #2e7d31;
  --action-error: #e53835;
  --action-warning: #fbc02d;
  --font-family: "Inter", sans-serif;
  --second-family: "Montserrat", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
span {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* COMMON CSS END*/

/* NAVIGRATION BAR SECTION START */
#menubar .nav-item .nav-link {
  padding: 30px 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #18191f;
  transition: all .3s;
}
#menubar .nav-item .nav-link:hover{
  color: var(--brand-primary);
}
.btn-pro {
  border-radius: 6px;
  padding: 10px 20px;
  background: var(--brand-primary);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: var(--neutral-white);
  margin: 0 7px;
  display: inline-block;
  border: none;
  transition: all .3s;
}
.ol-btn {
  background-color: var(--neutral-white);
  color: var(--brand-primary);
}
.signbutton .btn-pro:hover{
  background-color: var(--shade-s1);
}
.signbutton .ol-btn:hover{
background-color: var(--neutral-white);
}
/* NAVIGRATION BAR SECTION END */

/* BANNER SECTION START */
#banner {
  padding: 96px 0;
  margin: 0 0 40px;
}
#banner .container .row .banner-text h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 119%;
  color: var(--neutral-d-grey);
}
#banner .container .row .banner-text h1 span {
  color: var(--brand-primary);
  display: block;
}
#banner .container .row .banner-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--neutral-grey);
  margin: 16px 0 32px;
}
#banner .container .row .banner-text .btn-pro {
  padding: 14px 32px;
  margin: 0;
  transition: all .3s;
}
.banner-text .btn-pro:hover{
  background-color: var(--shade-s1);
}
.dot {
  transform: translateY(50px);
}

/* BANNER SECTION END */

/* OUR CLIENTS SECTION START */
.header-text {
  text-align: center;
}
.header-text h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 122%;
  text-align: center;
  color: var(--neutral-d-grey);
}
.header-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--neutral-grey);
  margin: 8px 0 16px;
}
/* OUR CLIENTS SECTION END */

/* CUMMINITY SECTION START */
#cumminity .container .row {
  justify-content: space-between;
  margin-bottom: 42px;
}
.card {
  width: 299px;
  padding: 24px 16px;
  box-shadow: 0 2px 4px 0 rgba(171, 190, 209, 0.2);
  background: var(--neutral-white);
  border: none;
  transition: all .3s;
}
.card:hover{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card .card-img img {
  width: 48px;
  height: 48px;
}
.card .card-img {
  display: flex;
  justify-content: center;
  position: relative;
}
.card .card-img a::after {
  content: "";
  position: absolute;
  border-radius: 18px 5px 10px 5px;
  right: 36%;
  width: 45px;
  height: 43px;
  background-color: #4caf4f1a;
  transform: rotate(180deg);
}
.card-text h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 129%;
  text-align: center;
  color: var(--neutral-d-grey);
  margin: 16px 0 8px;
}
.card-text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: var(--neutral-grey);
  width: 245px;
  margin: auto;
}
/* CUMMINITY SECTION END */

/* PIXELGRADE SECTION START */
#pixelgrade{
	margin-bottom: 48px;
}

.p-content h3{
	font-weight: 600;
	font-size: 36px;
	line-height: 122%;
	color: var(--neutral-d-grey);
	display: inline-block;
}
.p-content p{
	font-weight: 400;
	font-size: 14px;
	line-height: 143%;
	color: var(--neutral-grey);
	margin: 16px 0 32px;
	text-align: justify;
}
.p-content .btn-pro{
margin: 0;
transition: all .3s;
}
.p-content .btn-pro:hover{
  background-color: var(--shade-s1);
}
/* PIXELGRADE SECTION END */

/* LOCAL BUSINESS SECTION START */
#members-count{
	background-color: var(--neutral-silver);
	padding: 64px 0; 
 margin-bottom: 48px;

}
.business-header h2{
	font-weight: 600;
font-size: 36px;
line-height: 122%;
color: var(--neutral-d-grey);
margin-bottom: 8px;
}
.business-header h2 span{
	display: block;
	color: var(--brand-primary);
}
.business-header p{
	font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #18191f;
}
.members-icon{
	width: 48px;
	height: 48px;
	display: inline-block;
}
.members-content{
	margin-left: 16px;
	
}
.members-content h3{
	font-weight: 700;
font-size: 28px;
line-height: 129%;
color: var(--neutral-d-grey);
display: inline-block;
}
.members-content span{
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: var(--neutral-grey);
	display: block;
}
.members-card{
	width: 255px;
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}
.members-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/* width: 540px; */
}
/* LOCAL BUSINESS SECTION END  */

/* DESIGN SECTION START */
/* DESIGN SECTION END  */

/* Tim-SMITH SECTION START */
#tim-smith{
  background: var(--neutral-silver);
  padding: 32px 0;
  margin-bottom: 48px;
}
.tim-content p{
  font-weight: 500;
font-size: 16px;
line-height: 150%;
color: var(--neutral-grey);
text-align: justify;
}
.tim-content .change{
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--neutral-l-grey);
  margin-bottom: 40px;
}
.tim-content h5{
  font-weight: 600;
font-size: 20px;
line-height: 140%;
color: var(--brand-primary);
margin: 16px 0 8px;
}
.client-links{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.client-links li a{
  border-radius: 8px;
width: 48px;
height: 48px;
font-weight: 600;
font-size: 20px;
line-height: 140%;
color: var(--brand-primary);
}
.client-links li a i{
  margin-left: 5px;
  transform: translateY(2px);
}
/* Tim-SMITH SECTION END  */

/* MARKETING SECTION START */
#marketing{
  margin-bottom: 195px;
}
#marketing .container .row{
  justify-content: space-between;
}
#marketing .container .header-text h2{
  font-weight: 600;
font-size: 36px;
line-height: 122%;
text-align: center;
color: var(--neutral-d-grey);
margin-bottom: 8px;
}
#marketing .container .header-text p {
  margin: auto;
  width: 600px;
  padding-bottom: 16px;
}
#marketing .container .row{
  justify-content: space-between;
}
.m-card {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.m-card:hover .m-img{
  padding: 10px 0;
}
.m-img{
  width: 368px;
  position: relative;
  transition: all .2s;
}
.m-content {
  border-radius: 8px;
  padding: 16px;
  width: 300px;
  height: 176px;
  box-shadow: 0 8px 16px 0 rgba(171, 190, 209, 0.4);
  background: var(--neutral-silver);
  text-align: center;
  position: absolute;
  top: 180px;
  left: 32px;
}
.m-content h5{
font-weight: 600;
font-size: 20px;
line-height: 140%;
text-align: center;
color: var(--neutral-grey);
margin-bottom: 16px;
}
.m-content a{
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: var(--brand-primary);
}
.m-content .links i{
  margin-left: 5px;
  transform: translateY(2px);
}
/* MARKETING SECTION END  */

/* FOOTER BANNER HEADING SECTION START */
#helping{
  background-color: var(--neutral-silver);
  padding: 32px 0;
}
.hlep-heading h2{
  font-weight: 600;
  font-size: 64px;
  line-height: 119%;
  color: var(--neutral-black);
  display: block;
  margin-bottom: 32px;
}
.hlep-heading a i{
  margin-left: 5px;
  transform: translateY(2px);
}
.hlep-heading{
text-align: center;
}
.hlep-heading .btn-pro{
  transition: all .3s;
}
.hlep-heading .btn-pro:hover{
  background-color: var(--shade-s1);
}
/* FOOTER BANNER HEADING SECTION END */

/* FOOTER SECTION START */
#footer{
  background-color: var(--neutral-black);
  padding: 64px 0;
}
.left-content p{
  font-weight: 400;
font-size: 14px;
line-height: 143%;
color: var(--neutral-silver);
margin: 40px 0 0;
}
.left-content .d-block{
  margin: 0 0 40px;
}
.clicklinks{
  display: flex;
}
.clicklinks li a{
  width: 32px;
  height: 32px;
  border-radius: 50px;
  color: var(--neutral-white);
  margin: 0 8px;
  display: flex;
  justify-content: center;
  background-color: #525b60a5;
  align-items: center;
  transition: all .3s;
}
.clicklinks li a:hover{
  background-color: var(--brand-primary);
}
.footer-menu li a{
  font-weight: 400;
font-size: 14px;
line-height: 190%;
color: var(--neutral-silver);
margin-bottom: 12px;
}
.zero{
  margin-left: 0 !important;
}
.footer-menu-head{
  font-weight: 600 !important;
font-size: 20px !important;
line-height: 140%;
color: var(--neutral-white);
display: block;
margin-bottom: 24px;
}
.src-parent input{
width: 50%;
border-radius: 8px;
font-weight: 400;
font-size: 14px;
line-height: 143%;
padding: 9px 12px;
outline: none;
border: none;
background-color: #525b60;
color: var(--neutral-white);
}
.src-parent i{
  color: var(--neutral-white);
  width: 18px;
  height: 18px;
   transform: translateX(-30px);
}

/* FOOTER SECTION END  */
